@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .navLink-active {
    position: relative;
  }
  .navLink-active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    @apply bg-primary;
  }

  .app-wrapper {
    @apply 2xl:w-[1440px] 2xl:m-auto mx-1;
  }

  .btn {
    @apply transition-all duration-300 rounded-md py-[.6em] px-[1.2em];
  }

  .btn-accent {
    @apply text-white bg-accent hover:bg-accent-dark;
  }

  .btn-accent-trans {
    @apply text-accent border border-accent hover:bg-accent hover:text-white;
  }

  .btn-white-trans {
    @apply text-white border border-white hover:bg-white hover:text-accent;
  }
}

.slick-dots.slick-thumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slick-dots.slick-thumb li {
  width: 6px;
  height: 6px;
  margin: 0 3px;
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  will-change: width;
  @apply bg-accent;
}

.slick-dots.slick-thumb li.slick-active {
  @apply bg-accent-dark;
  width: 24px;
}

.slick-next {
  right: 25px !important;
}

.slick-prev {
  left: 25px !important;
}

.slick-prev,
.slick-next {
  z-index: 1;
  width: auto !important;
  height: auto !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
}

.slick-prev:before {
  content: "\276E" !important;
}

.slick-next::before {
  content: "\276F" !important;
}
